
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}

h1 { 
    color: rgb(180,9,9);
    text-shadow: 2px 2px 2px rgb(51,34,34);
}

h2, h3 {
    color: rgb(51,34,34) !important;
}
ol, ul {
    color: rgb(102,17,17);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.ingS {
    line-height: 2;
    text-align: left !important;
    left:5px !important;
}
.ingST {
    line-height: 1.5;
    text-align: left !important;
    left: 5px !important;
}

.insS {
    line-height: 1.5;
    text-align: right !important;
    list-style: none !important;
    list-style-type: none !important;
    right: 5px !important;
}

p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: rgba(77,26,26) !important;
}

.texture {
    background: url(images/cream_dust.png) repeat 0 0;
    background:rgba(238, 235, 235, 0.4);
    height: 560px;
    position:relative;   
}

#background {
    position: relative;
    z-index: 1;
    /* top: 15px; */
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    flex: none !important;
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    background: rgb(102,17,17);
    transition: 0.5s ease-out;
}

#ingredients, #instructions {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#background:hover {
    /* top: 10px; */
    width: 220px !important;
    height: 220px !important;
    background: rgb(255, 0, 0);
    opacity: 1.0;
    transition: 0.5s ease-out;
    box-shadow: 0 0 1em 1em rgba(255, 251, 220, 0.842);
}

#background:active  {
    width: 205px !important;
    height: 205px !important;
    transition: 0.1s ease-out;  
}

#drinkImage {
    width: 200px !important;
    height: 200px !important;
    transition: 0.5s ease-out;
    margin-right: 0px !important;
}


#drinkImage:hover {
    width: 220px !important;
    height: 220px !important;
    transition: 0.5s ease-out;
}  

#drinkImage:active  {
    width: 200px !important;
    height: 200px !important;
    transition: 0.1s ease-out;  
}

#drinkName {
    display: block !important;
}